<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <link ref="stylesheet" type="text/css" href="/static/css/main.css" />
    
    <script type="text/javascript" src="/static/scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/libs/config.js"></script>
    <script type="text/javascript" src="/static/js/libs/engine.js"></script>
    <script type="text/javascript" src="/static/js/libs/reload.js"></script>
    <title>2333</title>
</head>
  <body>
    <div id="container">
    </div>
  </body>
</html>
