<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="" media="all" />
    <link rel="stylesheet" type="text/css" href="" media="all" />

    <script type="text/javascript" src="/static/scripts/jquery-1.8.2.min.js'; ?>"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/libs/config.js"></script>
    <script type="text/javascript" src="/static/js/libs/engine.js"></script>
    <script type="text/javascript" src="/static/js/libs/reload.js"></script>
    <title><?php echo $title; ?></title>
</head>
  <body>
    <p>body</p>
  </body>
</html>
